<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-horizontal">
    <%= f.label :first_name, class: "control-label" %>
    <%= f.text_field :first_name, class: "form-control text-center" %>
  </div>
  <div class="field form-horizontal">
    <%= f.label :last_name, class: "control-label" %>
    <%= f.text_field :last_name, class:"form-control text-center" %>
  </div>
  <div class="field form-horizontal">
  <%= f.label :email, class: "control-label" %>
  <%= f.text_field :email, class:"form-control text-center" %>
  </div>
  
    <%= f.submit 'Update User', class:"btn btn-lg btn-success"%>
  
<% end %>
