
<div class="container">
<h2 class="lato text-center">Listing Users</h2>

<table class="table table-bordered text-center">
  <thead>
    <tr>
      <th class="text-center">First name</th>
      <th class="text-center">Last name</th>
      <th class="text-center">Email</th>
      <th class="text-center">Entries</th>
      <th colspan=2 class="text-center">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.days.length%></td>
        <td><%= link_to 'Edit User', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>


