
<div class="container">
<h1 class="kalam text-center">Listing Users</h1>

<table class="table table-bordered text-center">
  <thead>
    <tr>
      <th class="text-center">First name</th>
      <th class="text-center">Last name</th>
      <th class="text-center">Email</th>
      <th class="text-center">Entries</th>
      <th colspan=3 class="text-center">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= link_to "Entries", days_index_path(user)%></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<%= link_to 'New User', new_user_path %>
