<div class="container text-center">
  <h3>Input your weight. #Be honest!</h3>


  <%= form_for @day do |f| %>
  
    
      <div class="form-horizontal">
            <%= f.label :date, class: "control-label"%>
        <%=   f.date_field :date, class: "form-control text-center", value: Date.today.to_s(:db)%>
      
    </div>
    
      <div class="form-horizontal">
            <%= f.label :weight, class: "control-label" %>
            <%= f.text_field :weight, class: "form-control text-center",  placeholder: "Enter Weight" %>
      
    </div>
  <%= f.submit "Submit", class:"btn btn-lg btn-success", id:"submit" %>  
</div>
    
 
<% end %>
